*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}


body {
    text-align: center;
    background: linear-gradient( to bottom, #6ab7f5, #fff);
    min-height: 100vh; 
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    position: relative;
}

.logo {
    position: absolute;
    top: 5rem;
}

a {
    text-decoration: none;
    color: black;
}

.buttons {
    position: absolute;
    top: 30rem;
}

button {
    width: 10rem;
    height: 3rem;
    background-color: #ffca05;
    border-radius: 15px;
    border: none;
     box-shadow:  0 7px 0 #9c8d30;
}

.music {
    background-color: #ffca05;
    position: absolute;

    top: 25rem;
    width: 20rem;
    cursor: pointer;
}